BasedOnStyle: Google

AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
DerivePointerAlignment: false
InsertBraces: true
PointerAlignment: Left
